.App {

}

nav, .Navbar {
    width: 100%;
    height: 65px;
    color: white;
    font-size: 25px;
    font-family: 'Saira Condensed';
    font-size: 900;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: auto;
}

hr {
    height: 1.2px;
    background-color: white;
    border: none;
    opacity: 15%;
}

.Game-container {
    width: 500px;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
    user-select: none;
}

.Board-container {
    width: 100%;
    height: 550px;
    margin: auto;
}

.Board {
    width: 350px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    gap: 6px;
    color: white;
}

.row {
    display: flex;
    gap: 6px;
    margin: 0 auto;
}

.tile {
    width: 62px;
    height: 62px;
    border: 1px solid #3a3a3c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.tile.absent {
    background-color: #3a3a3c;
    border: none;
}

.tile.correct {
    background-color: #538d4e;
    border: none;
}

.tile.present {
    background-color: #b59f3b;
    border: none;
}